* {
    border: none;
    margin: 0;
    padding: 0;
  }

html {
    overflow-y: scroll;
    scroll-behavior: smooth; 
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #FFF;
}

.contact_div {
    display: flex;
    justify-content: space-around;  
}

.contact_div-2 {
    display: flex;
    justify-content: center;
    
}

.contact_div-span {
    margin-bottom: 1.5em;
    
}

body {
    color: white;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    
}

canvas {
    transform-origin: 0 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -5;
    background: white;
    background: radial-gradient(#FFF, #DDD);
}

p {
    font-weight: 600;
    font-size: medium;
    letter-spacing: normal;
    margin-bottom: 1em;
    line-height: 150%;
}

main, section, header, .presentation, footer {
    position: relative;
}

header {
    text-align: center;
    width: 100%;
    
}

.header_nav_ul {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    
    
}

.header_nav-right {
    position: fixed;
    right: 0;
    /* left: 80vh; */
    bottom: 50%;
    font-size: larger;
    font-weight: 700;
    z-index: 1;
}

.header_nav-left {
    position: fixed;
    bottom: 50%;
    font-size: larger;
    font-weight: 700;
    z-index: 1;
    
}
/* classe pour cacher un élément */
.hidden {
    display: none;
}

.header li {
    list-style: none;
    font-size: larger;
    margin-bottom: 2em;
    font-weight: 700;
    z-index: 1;
}
.footer-sec {
    position: relative;
    top: 250px;
}
.fa-times-circle {
    color: red;
    margin-left: 0.5rem;
}
.fa-check-circle {
    color: green;
    margin-left: 0.5rem;
}
.septembre, .aout {
    background-color: rgb(56, 50, 50, 0.75);
    width: 60%;
    padding: 10px;
    margin: auto;
    height: 20vh;
    overflow-y: scroll;
    list-style: none;   
}
.septembre li:hover, .aout li:hover {
    background-color: rgb(61, 10, 10);
}


.todoList {
    margin: auto;
    width: 60%;
    height: 20vh;
    overflow-y: scroll;
    background-color: rgb(56, 50, 50, 0.75);
    padding: 10px;
    text-align: left;
}
.todoList li {
    margin-left: 50px;
}
.todoList li:hover {
    background-color: rgb(61, 10, 10);
    
}
.historique-border-sept, .historique-border-aout {
    cursor: pointer;
    display: inline-block;
    
    
}

.log li {
    font-size: 0.8em;
    margin-bottom: 10px;
}
.ui {
    background-size: cover;
    display: none;
    position: fixed;
    z-index: -5;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.ui p {
    font-size: 11px;
    font-weight: 700;
}

.ui p.zoom {
    margin-bottom: 5px;
}

.ui p.zoom span {
    margin-right: 5px;
    border: solid 1px #777;
    cursor: pointer;
    border-radius: 2px;
}

.ui p.zoom span.zoomin {
    padding: 2px 5px;
}

.ui p.zoom span.zoomout {
    padding: 2px 8px;
}

.ui p.zoom span:hover {
    background: black;
    color: white;
}
/* gestion des h */
.main-title {
    font-size: 3em;
    text-align: center;
    padding-bottom: 2rem;
}

.subtitle {
    font-size: 2em;
    text-align: center;
    padding-bottom: 5rem;
}

h2, h3, h4 {
    margin-bottom: 1em;
    margin-top: 0.5em; 
}
h4 {
    text-decoration: underline;
}
.noblockthanks {
    display: inline-block;
}

.log h3:hover {
    cursor: pointer;
}


 /* centrer tout les titres ainsi que les paragraphes nécessaires*/
.presentation-title, .projets-title, .contact-title, .log-title, .projets_container_element-title, .projets-p {
    text-align: center;
}
/* parties section */
.contact {
    min-height: 10vh;
    margin: 0.8rem auto;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    width: 70%;
    padding: 1rem 1.5rem;
    left: -2000px;
}

.fa-envelope:hover, .fa-linkedin:hover, .fa-github:hover {
    transform: scale(1.2);
}

.fa-arrows-alt:active {
    transform: rotate(360deg);
    
}

.fa-arrows-alt {
  position: relative;
  transition-duration: 0.2s;
  transition-property: transform;
  cursor: pointer;
  margin-bottom: 1em; 
  
}

.fa-chevron-right {
    cursor: pointer;
    margin-left: 1em;
}

.r-90 {
    transform: rotate(90deg);
}
.r-180 {
    transform: rotate(180deg);
}
.r-270 {
    transform: rotate(270deg);
}
.fa-chevron-up {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
}
.presentation {
    min-height: 10vh;
    width: 70%;
    margin: 0.8rem auto;
    padding: 1rem 1.5rem;
    left: -2000px; 
    margin-bottom: 4rem;
    
}

.projets {
    min-height: 10vh;
    width: 70%;
    margin: 0.8rem auto;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    left: -2000px;
    margin-bottom: 4rem;
}

.projets_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    margin-bottom: 4rem;
}

.projets_container_element {
    width: 50%;
    height: 50%;
    margin-bottom: 2em;
}

.log, .competences {
    top: 250px;
    min-height: 10vh;
    margin: 0.8rem auto;
    margin-bottom: 1rem;
    width: 70%;
    padding: 1rem 1.5rem; 
    position: relative;
    text-align: center;
    margin-bottom: 4rem;
}

.main-controller {
    top: 0;
    position: absolute;
    min-width: 100%;
    height: auto;
}

.main-controller-2 {
    top: 0;
    position: absolute;
    min-width: 100%;
    height: auto;
}

.main-2 {
    position: relative;
}

footer {
    text-align: center;
    font-weight: bolder;
    padding: 20px 10px;
    
}

.nala, .cv, .enigma {
    text-align: center;
}

.projets_container_element-title {
    padding-bottom: 1em;
}

.fa-github, .fa-linkedin, .fa-envelope {
    margin-left: 1rem;
}

a[href="https://nos-amis-les-animaux.fr/"], a[href="https://hugo-jacques.com/"], a[href="https://hugo-jacques.com/enigma/"] {
color: blue;
background-color: #777;
}

.nala-img, .cv-img, .enigma-img {
    width: 50%;
    height: 50%;
    padding-bottom: 1em;
}

.nala-img:hover, .cv-img:hover, .enigma-img:hover, .competences-img {
    width: 60%;
    height: 60%;
    padding-bottom: 1em;
    
}

.competences_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    padding-bottom: 4rem;
}

.competences_container_section {
    width: 18%;
    height: 50%;
    padding: 10px;
}

@media screen and (max-width: 375px) {
    .log {
        width: 60%;
    }
}
@media screen and (min-width: 768px) {
    body {
        font-size: 1.2rem;
    }
    .header_nav_ul {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 425px) {
    .projets_container_element {
        width: 100%;
        height: auto;
    }
    
}
    

