* {
    border: none;
    margin: 0;
    padding: 0;
  }

html {
    overflow-y: scroll;
    scroll-behavior: smooth; 
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFF;
}

.contact_div {
    display: flex;
    justify-content: space-around;
    
}

.contact_div-2 {
    display: flex;
    justify-content: center;
    
}

.contact_div-span {
    margin-bottom: 1.5em;
    
}

body {
    color: white;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

canvas {
    transform-origin: 0 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -5;
    background: white;
    background: radial-gradient(#FFF, #DDD);
}

p {
    font-weight: 600;
    font-size: medium;
    letter-spacing: normal;
    margin-bottom: 1em;
}

main, section, header, .presentation, .log {
    position: relative;
}

header {
    display: block;
    min-height: 20vh;
    text-align: center;
    width: 100%;
}

.header_nav_ul {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

.header_nav-right {
    position: fixed;
    left: 90%;
    bottom: 50%;
    font-size: larger;
    font-weight: 700;
    z-index: 1;
}

.header_nav-left {
    position: fixed;
    bottom: 50%;
    font-size: larger;
    font-weight: 700;
    z-index: 1;
    
}
/* classe pour cacher un élément */
.hidden {
    display: none;
}

li {
    font-size: larger;
    margin-bottom: 2em;
    font-weight: 700;
}

.ui {
    background-size: cover;
    display: none;
    position: fixed;
    z-index: -5;
    height: 100vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.ui p {
    font-size: 11px;
    font-weight: 700;
}

.ui p.zoom {
    margin-bottom: 5px;
}

.ui p.zoom span {
    margin-right: 5px;
    border: solid 1px #777;
    cursor: pointer;
    border-radius: 2px;
}

.ui p.zoom span.zoomin {
    padding: 2px 5px;
}

.ui p.zoom span.zoomout {
    padding: 2px 8px;
}

.ui p.zoom span:hover {
    background: black;
    color: white;
}
/* gestion des h */
.main-title {
    font-size: 4em;
    text-align: center;
}

.subtitle {
    font-size: 3em;
    text-align: center;
}

h2 {
    padding-bottom: 1em;
    padding-top: 0.5em;
}

 /* centrer tout les titres ainsi que les paragraphes nécessaires*/
.presentation-title, .projets-title, .contact-title, .log-title, .projets_container_element-title, .projets-p {
    text-align: center;
}
/* parties section */
.contact {
    top: 50vh;
    min-height: 30vh;
    margin: 0.8rem auto;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    width: 70%;
    padding: 1rem 1.5rem;
    left: -2000px;
}

.fa-envelope:hover, .fa-linkedin:hover, .fa-github:hover {
    transform: scale(1.2);
}

.fa-arrows-alt:active {
    transform: rotate(360deg);
}

.fa-arrows-alt {
  position: relative;
  transition-duration: 0.2s;
  transition-property: transform;
  cursor: pointer;
  margin-bottom: 1em;
  
}

.presentation {
    top: 10vh;
    min-height: 40vh;
    width: 70%;
    margin: 0.8rem auto;
    padding: 1rem 1.5rem;
    left: -2000px; 
    margin-bottom: 1rem;
}

.projets {
    top: 30vh;
    min-height: 40vh;
    width: 70%;
    margin: 0.8rem auto;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    left: -2000px;
}

.projets_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
     
}

.projets_container_element {
    width: 50%;
    height: 50%;
    margin-bottom: 2em;
}

.log {
    top: -125vh;
    left: 2000px;
    position: relative;
    width: 70%;
    margin: 0.8rem auto;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
   
    
}

.main-controller {
    top: 0;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    position: relative;
    text-align: center;
    font-weight: bolder;
    padding: 20px 10px;
    top: 30vh;
}

.nala, .cv, .enigma {
    text-align: center;
}

.projets_container_element-title {
    padding-bottom: 1em;
}

a[href="https://nos-amis-les-animaux.fr/"], a[href="https://hugo-jacques.com/"], a[href="https://hugo-jacques.com/enigma/"] {
color: blue;
background-color: #777;
}

.lana-img, .cv-img, .enigma-img {
    width: 50%;
    height: 50%;
    padding-bottom: 1em;
}

.lana-img:hover, .cv-img:hover, .enigma-img:hover {
    width: 85%;
    height: 85%;
    padding-bottom: 1em;
}

/* ajustement du fond pour écran large */
 @media screen and (min-width: 1600px) {
     canvas, .ui {
height: 110vh;
width: 100%;
    }
}  